<md-dialog aria-label="Edit task" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit task</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <input md-autofocus aria-label="Edit task" ng-model="task.title">
                </md-input-container>
                <md-checkbox ng-model="task.completed" aria-label="Checkbox completed">
                    Completed
                </md-checkbox>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="update()">
                Update
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
